@media only screen and (min-width:768px) and (max-width: 991px) {
	header {
		.logo {
			img {
				width: auto !important;
				margin-top: 15px;
			}
		}

		.navigations {
			.top-nav ul li a {
				font-size: 0,65rem;
			}

			nav ul li a {
				font-size: 0.80rem;
			}	
		}
	}
	.billboard {
		.square-hero {
			top: -425px;
		}
	}
}

@media only screen and (max-width:767px) {
	header {
		position: static !important;

		.logo {
			img {
				width: 160px;
			}
		}

		.hidden-md-up.mobile-btn {
		    position: absolute;
		    right: 15px;
		    top: 7px;

		    a {
			    i {
			    	color: $orange;
				    display: block;
				    font-size: 60px;
			    }

			    &:hover,
			    &:focus {
			    	text-decoration: none;
			    	outline: none;
			    }
		    }
		}

		.navigations {
		    text-align: center;
		    display: none;

		    nav {
		    	margin-top: 45px;

		    	ul {
		    		li {
		    			display: block;
					    margin-left: 0;
					    margin-top: 25px;
					    text-align: center;
		    		}
		    	}
		    }

		    .top-nav.mobile {
		    	margin-top: 45px;
		    }
		}
	}	

	.billboard {
		// height: 500px;

		.square-hero {
			top: -475px;
			margin-left: 10px;
			margin-right: 10px;
			padding: 30px 15px;

			h1 {
				font-size: 32px;
				margin-bottom: 20px;
			}

			h4 {
				margin-bottom: 20px;
			}
		}
	}
}