@media only screen and (max-width:991px) {
	
	.square-hero-page {
		br {
			display: none;
		}
	}

	.services {
		
		.two-top-services {
			margin-bottom: 60px;
		}

		// p {
		// 	padding: 0;
		// }
	}
}	

@media only screen and (min-width:768px) and (max-width: 991px) {
	header {
		.logo {
			img {
				width: auto !important;
				margin-top: 15px;
			}
		}

		.navigations {
			.top-nav ul li a {
				font-size: 0,65rem;
			}

			nav ul li a {
				font-size: 0.80rem;
			}	
		}
	}
	.billboard {
		.square-hero {
			top: -425px;
		}
	}

	footer {
		
		.form-contacto {
			.wpcf7-form {
				label {
					width: 100%;
				}	
			} 
		}

		.servicio-contacto {
		    left: 0;
		    margin-left: 0;
		    margin-top: 0;
		    position: absolute;
		    top: 415px;
		}
	}	

	.recursos {
	    .descargas {
			.tab-content {
				.item-map, .item-poster {
				  width: 50%;
				}
			}
	    }
	}
}

@media only screen and (max-width:767px) {
	header {
		position: static !important;

		.logo {
			img {
				width: 160px;
			}
		}

		.hidden-md-up.mobile-btn {
		    position: absolute;
		    right: 15px;
		    top: 7px;

		    a {
			    i {
			    	color: $orange;
				    display: block;
				    font-size: 60px;
			    }

			    &:hover,
			    &:focus {
			    	text-decoration: none;
			    	outline: none;
			    }
		    }
		}

		.navigations {
		    text-align: center;
		    display: none;

		    nav {
		    	margin-top: 45px;

		    	ul {
		    		li {
		    			display: block;
					    margin-left: 0;
					    margin-top: 25px;
					    text-align: center;
		    		}
		    	}
		    }

		    .top-nav.mobile {
		    	margin-top: 45px;
		    }
		}
	}	

	.billboard {
		// height: 500px;

		.square-hero {
			top: -475px;
			margin-left: 10px;
			margin-right: 10px;
			padding: 30px 15px;

			h1 {
				font-size: 32px;
				margin-bottom: 20px;
			}

			h4 {
				margin-bottom: 20px;
			}
		}
	}

	.services {
		.mbl-mgn {
			margin-bottom: 60px;
		}
	}

	.help-you,
	.recursos {
		.tac {
			text-align: left;
		}
	}

	.quienes-somos {
		.main-activities {
			.no-p {
				margin-bottom: 40px;
			}
		}
	}

	.trabajos {
		.og-expander {

			.og-expander-inner {
				padding: 50px 0;

				.og-fullimg {
					width: 100%;

					img {
						height: auto !important;
					}
				}

				.og-details {
					width: 100%;
					margin-top: 15px;

					h3 {
						line-height: normal;
					}
				}
			}
		}
		
	}

	footer {
		
		.form-contacto {
			margin-top: 65px;

			.wpcf7-form {
				label {
					width: 100%;
				}	
			} 
		}

		.servicio-contacto {
		    margin-top: 20px;
		}
	}
}

@media only screen and (max-width:768px) {

  .recursos {
    
    .formatos {
      .formato-item {
        margin-bottom: 50px;
      }
    }

    .descargas {
      .tab-content {
        .item-map, .item-poster {
          width: 50%;
        }
        .filter-posters, .filter-maps {
          select {
            margin: 10px 10px;
            width: 100%;
          }
        }
      }
    }
  }

}

@media only screen and (min-width:576px) and (max-width:768px) {
	.services {
		.mbl-mgn {
			p {
				padding: 0;
			}
		}
	}
}

@media only screen and (max-width:575px) {

	.page-billboard {
		.square-hero-page {
			padding: 40px 10px;

			h1 {
				margin-bottom: 0;
			}

			h4 {
				display: none;
			}
		}	
	}

	.services {
		.mbl-mgn {
			p {
				padding: 0 35px;
			}
		}
	}

	.recursos .descargas .nav-tabs li.nav-item a.nav-link {
		font-size: 15px;
	}

	.recursos .descargas .tab-content ul.cobertura-list .formatos-disponibles .format-link {
		width: 45%;
	}

	.recursos .descargas .tab-content ul.cobertura-list li.header-coberturas, 
	.recursos .descargas .tab-content ul.cobertura-list li .cob-row {
	    padding: 25px 10px 20px;
	}

	footer {
		.bottom-foo {
			.copyright {
				text-align: center;
				line-height: normal;
			}
		}
	}
}